@tailwind utilities;
@tailwind base;
@tailwind components;

.gradient {
	--tw-gradient-stops: #F00, #F70;
	--tw-gradient-stops: #F00, #F70, #FF0;
	--tw-gradient-stops: #07F, #0FF, #0F0;
	--tw-gradient-stops: #07F, #0FF, #0F0, #FF0, #F00, #F0F;
}
